/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q         &kp W  &kp E             &kp R          &kp T        &kp Y    &kp U            &kp I      &kp O    &lt 3 P           &trans
&trans  &kp A         &kp S  &lt 2 D           &lt 1 F        &kp G        &kp H    &lt 1 J          &lt 2 K    &lt 3 L  &kp SEMI          &trans
&trans  &mt LSHIFT Z  &kp X  &kp C             &kp V          &kp B        &kp N    &kp M            &kp COMMA  &kp DOT  &mt RSHIFT SLASH  &trans
                             &mt LEFT_ALT TAB  &mt LCTRL ESC  &kp SPACE    &kp RET  &lt 1 BACKSPACE  &lt 2 DEL
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N1  &kp N2   &kp N3  &kp N4  &kp N5    &trans    &kp PAGE_UP  &kp PAGE_DOWN  &trans     &kp LA(LC(A))      &trans
&trans  &kp N6  &kp N7   &kp N8  &kp N9  &kp N0    &kp LEFT  &kp DOWN     &kp UP         &kp RIGHT  &trans             &trans
&trans  &trans  &kp DOT  &trans  &trans  &trans    &trans    &kp HOME     &kp END        &trans     &kp LC(LS(SPACE))  &trans
                         &trans  &trans  &trans    &trans    &trans       &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &kp AT     &kp HASH       &kp DLLR  &kp PERCENT    &kp SINGLE_QUOTE   &kp AMPS              &kp KP_MULTIPLY  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans
&trans  &trans  &kp TILDE  &kp CARET      &kp PIPE  &kp EXCL       &kp DOUBLE_QUOTES  &kp EQUAL             &kp MINUS        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans  &trans  &trans     &trans         &trans    &trans         &kp GRAVE          &kp PLUS              &kp UNDER        &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans
                           &kp BACKSPACE  &kp DEL   &trans         &trans             &kp NON_US_BACKSLASH  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3   &kp F4   &kp F5     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F6  &kp F7  &kp F8   &kp F9   &kp F10    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp F11  &kp F12  &trans     &trans  &trans  &trans  &trans  &trans  &trans
                        &trans   &trans   &trans     &trans  &trans  &trans
            >;
        };
    };
};
